@import "reset.css";

.about-me-container{
    display: flex;   
}

.container-photo{
    padding: 2rem;
    width: 40%;
}

.photo{
    height: 80%;
    background-image: url('../images/foto.jpg');
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

.container-bio{
    width: 50%;
}
